<style>
.TweetTextSize {
    font-size: 14px;
}
.Emoji--forText {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 3px;
}

.TwitterCard {
    padding: 0px !important;
    width: 200px;
    display: inline-block;
    text-align: left;
    margin: 5px;
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 4px;
}

.TwitterImage {
    background-size: cover;
    width: 200px;
    height: 200px;
}

</style>

<div id="top-tweets-container" class="container ml-auto mr-auto mt-4">
</div>

<script>

function updateTopTweets(tweets) {
    const elm = document.getElementById('top-tweets-container');
    let inner = '';
    console.log(tweets)
    tweets.tweets.forEach(t => {
        let tmpl = `
            <div class="TwitterCard">
                ${t.text}
            </div>
        `;
        inner += tmpl;
    });
    
    elm.innerHTML = inner;
}

function fetchTopTweets() {
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
            const tweets = JSON.parse(xhr.responseText);
            updateTopTweets(tweets);
        }
    }
    
    xhr.open('POST', '/api/top-tweets', true);
    xhr.send();
}


setInterval(fetchTopTweets, 3000);
fetchTopTweets()

</script>
