 <style>
.TweetTextSize {
    font-size: 14px;
}
.Emoji--forText {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 3px;
}

.TwitterCard {
    width: 500px;
    min-width: 350px;
    display: block;
    text-align: left;
    margin: 5px;
}

.TwitterImage {
    background-size: cover;
    width: 100%;
    height: 350px;
}

.u-hidden, .twitter-timeline-link {
    display: none;
}

strong {
    font-weight: normal;
}

</style>

<div id="tweets-container" class="container ml-auto mr-auto mt-4">
</div>

<script>

function updateTweets(tweets) {
    const elm = document.getElementById('tweets-container');
    let inner = `<h1>${tweets.type}</h1>`;
    tweets.tweets.forEach(t => {
        let tmpl = `
            <div class="card TwitterCard">
                <div class="card-body">
                    <div class="card-text">
                        ${t.text.replace(/\s\s+/g, ' ')}
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-heart" style='color: red'></i> ${t.likes} &nbsp; &nbsp;
                        <i class="fa fa-retweet" style='color: green'></i> ${t.retweets} &nbsp; &nbsp;
                        <i class="fa fa-reply" style='color: blue'></i> ${t.replies}
                        <span class='float-right'>${moment(t.time).fromNow()}</span>
                    </div>
                </div>
            </div>
        `;
        
        inner += tmpl;
    });
    
    let query = getQueryString('search')
    if (query) {
        inner += `<button class='btn btn-outline-secondary' onclick='cnt = cnt + 10; this.innerHTML="Loading..."'>Load More</button>`
    }

    elm.innerHTML = inner;
}

function fetchTweets(how) {
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
            const tweets = JSON.parse(xhr.responseText);
            updateTweets(tweets);
        }
    }
    
    let query = getQueryString('search')
    if (query) {
        let advOpt = document.querySelector('input[name = "adv-search"]:checked')
        if (advOpt) {
            advOpt = advOpt.value
        } else {
            advOpt = 0
        }
        
        let ord = document.querySelector('input[name = "search-ord"]:checked')
        if (ord) {
            ord = ord.value
        } else {
            ord = 2
        }
        xhr.open('GET', `/api/search?q=${query}&cnt=${cnt}&adv=${advOpt}&ord=${ord}`, true);
    } else {
        xhr.open('POST', `/api/${how}-tweets`, true);
    }
    
    xhr.send();
}

// https://gomakethings.com/how-to-get-the-value-of-a-querystring-with-native-javascript/
const getQueryString = function ( field, url ) {
    var href = url ? url : window.location.href;
    var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
    var string = reg.exec(href);
    return string ? string[1] : null;
};

let kind = 'recent'
let cnt = 10

setInterval(() => fetchTweets(kind), 3000);
fetchTweets(kind)

</script>
